.profile_col {
    text-align: left;
    display: table-cell;
    height: 100%;
    margin: auto;
    font-weight: 600;
    padding-left: 100px;
}

.container_medal {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 25px;
    color: white;
    -webkit-text-stroke: 1px #393939;
}

.player_avatar {
    margin: 4px 10px 4px 0;
    border-radius:30px;
    width:50px;
    height:50px;
}